html {
    position        : relative;
    margin          : 0;
    padding         : 0;
    overflow-x      : hidden;
    scroll-behavior : smooth;
    font-size       : 14px;
    line-height     : 1.5;
}

body {
    width            : 100%;
    min-height       : 100vh;
    margin           : 0;
    padding          : 0;
    color            : var(--text);
    background-color : var(--body);
    font-family      : var(--font-fam1), var(--font-fam-list);
    scroll-behavior  : smooth;
}

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
}

::selection {
    background-color : rgba(var(--primary-light-rgb), 0.15);
    color            : var(--primary-light);
}

::-webkit-scrollbar {
    width  : 5px;
    height : 5px;
}

::-webkit-scrollbar-button {
    width  : 0px;
    height : 0px;
}

::-webkit-scrollbar-thumb {
    background    : var(--zinc-500);
    border        : 31px none #c1c1c1;
    border-radius : 1px;
}

::-webkit-scrollbar-thumb:hover {
    background : var(--primary-light);
}

::-webkit-scrollbar-thumb:active {
    background : var(--primary-light);
}

::-webkit-scrollbar-track {
    background    : var(--bg-zero);
    border        : 0px solid var(--body);
    border-radius : 5px;
    width         : 5px;
}

::-webkit-scrollbar-track:hover {
    background : transparent;
}

::-webkit-scrollbar-track:active {
    background : transparent;
}

::-webkit-scrollbar-corner {
    background : transparent;
}

ol,
ul,
li {
    list-style : none;
    color      : var(--text);
}

p {
    color       : var(--text);
    font-size   : 1rem;
    line-height : 1.5;
}

strong {
    font-weight : 600;
}

a {
    color           : inherit;
    text-decoration : none;

    &.custom-link {
        position : relative;
        color    : var(--primary-dark);

        &:hover {
            &:before {
                content    : '';
                position   : absolute;
                bottom     : -2px;
                width      : 100%;
                height     : 1px;
                background : var(--primary-dark);
            }
        }
    }
}

input {
    &:-webkit-autofill,
    &:-webkit-autofill:focus {
        transition : background-color 600000s 0s, color 600000s 0s;
    }
}

small {
    color       : var(--text);
    font-size   : 13px;
    line-height : 1.2;
}

svg {
    color : var(--slate-500);
}

h1,
h2,
h3,
h4 {
    color          : var(--title);
    letter-spacing : -0.6px;

    * {
        font-size      : inherit;
        line-height    : inherit;
        color          : inherit;
        font-stretch   : inherit;
        letter-spacing : inherit;
    }
}

h1 {
    font-weight   : 600;
    line-height   : 1.125;
    font-size     : 2rem;
    margin-bottom : 30px;
}

h2 {
    font-weight   : 600;
    line-height   : 1.125;
    font-size     : 1.9rem;
    margin-bottom : 20px;
}

h3 {
    font-weight   : 500;
    font-size     : 1.5rem;
    line-height   : 1.25;
    margin-bottom : 10px;
}

h4 {
    font-weight   : 500;
    font-size     : 1.25rem;
    line-height   : 1.5;
    margin-bottom : 10px;
}

main {
    position    : relative;
    width       : 100vw;
    min-height  : 100vh;
    padding-top : 180px;

    @media(max-width: 992px) {
        padding-top : 100px;
    }
}

.mentions {
    h2 {
        font-size   : 20px;
        margin      : 25px 0 10px;
        font-weight : 500
    }

    h3 {
        font-size    : 14px;
        margin       : 15px 0 0;
        font-weight  : 500;
        font-stretch : 100%;
    }

    p {
        text-align : justify;
        padding    : 5px 0
    }

    p a {
        color : var(--primary)
    }

    ul {
        text-align   : justify;
        padding-left : 25px
    }

    li {
        color           : var(--text);
        list-style-type : disc
    }

    .box {
        padding       : 30px;
        margin-bottom : 20px;
        border-radius : var(--rounded-xl)
    }

    .box .box-inner {
        padding          : 30px;
        box-shadow       : var(--shadow-lg-colored);
        background-color : var(--body);
        border-radius    : var(--rounded-xl)
    }

    @media (max-width:768px) {
        h2 {
            font-size   : 20px;
            line-height : 1.2
        }

        h3 {
            font-size   : 18px;
            line-height : 1.2
        }

        .box {
            padding : 15px
        }

        .box .box-inner {
            padding : 15px
        }
    }
}