.av-divider {
    flex-shrink         : 0;
    border-width        : 0;
    border-style        : solid;
    border-color        : var(--border);
    border-bottom-width : thin;

    &.vertical {
        border-bottom-width : 0;
        height              : auto;
        border-right-width  : thin;
        align-self          : stretch;
    }
}