.av-nav-toggle {
    display     : none;
    right       : 0;
    top         : 0;
    cursor      : pointer;
    
    @media(max-width:576px) {
        margin-left : -9px !important;
    }

    svg {
        width  : 54px;
        height : auto;

        path {
            stroke-width   : 30;
            stroke-linecap : round;
            stroke         : var(--svg);
            fill           : none;
            transition     : all .5s ease-in-out;
        }
    }

    .top-bar {
        stroke-dasharray : 240px 910px;
    }

    .bottom-bar {
        stroke-dasharray : 150px 910px;
    }

    .middle-bar {
        stroke-dasharray : 240px 240px;
    }

    .open {
        .top-bar,
        .bottom-bar {
            stroke-dashoffset : -650px;
            stroke-dasharray : 240px 910px;
        }
        .middle-bar {
            stroke-dasharray  : 0px 220px;
            stroke-dashoffset : -120px;
        }
    }
    
    @media(max-width: 992px) {
        display         : inline-flex;
        align-items     : center;
        justify-content : center;
        margin-bottom   : 3px;
    }
}