.av-password-checker {
    position      : absolute;
    top           : 100%;
    width         : 100%;
    padding       : 15px;
    background    : var(--body);
    border-radius : var(--rounded-default);
    box-shadow    : var(--shadow-lg);
    border        : 1px solid var(--border);
    z-index       : 10;
    font-size     : 12px;
    visibility    : hidden;
    opacity       : 0;

    &.active {
        visibility : visible;
        opacity    : 1;
    }

    .checker-header {
        color  : var(--text);
        margin : 7px 0;
    }

    .checker {
        display     : flex;
        align-items : center;
        padding     : 2px 0;
        p {
            font-size   : 12px;
        }

        svg {
            width        : 18px;
            height       : 18px;
            margin-right : 5px;
        }

        &.valid {
            color : var(--success);
            svg {
                color : var(--success);
            }
        }

        &.unvalid {
            color : var(--danger);
            svg {
                color : var(--danger);
            }
        }
    }

    .password-strength {
        display       : flex;
        align-items   : center;
        height        : 30px;
        margin-bottom : 10px;

        .strength-item {
            height           : 8px;
            width            : 24%;
            background-color : var(--content-light);

            &:nth-child(1) {
                border-radius : var(--rounded-full) 0 0 var(--rounded-full);
                &.weak {
                    background-color : var(--danger);
                }
                &.medium {
                    background-color : var(--warning);
                }
                &.strong {
                    background-color : var(--success);
                }
            }
            &:nth-child(2) {
                &.medium {
                    background-color : var(--warning);
                }
                &.strong {
                    background-color : var(--success);
                }
            }
            &:nth-child(3) {
                border-radius : 0 var(--rounded-full) var(--rounded-full) 0;
                &.strong {
                    background-color : var(--success);
                }
            }
        }

        .strength {
            width         : 25%;
            padding       : 4px;
            text-align    : center;
            border-radius : var(--rounded-sm);
            margin-left   : auto;
            font-size     : 12px;

            &.weak {
                color            : var(--danger);
                background-color : rgba(var(--danger-rgb), 0.2);
            }
            &.medium {
                color            : var(--warning);
                background-color : rgba(var(--warning-rgb), 0.2);
            }
            &.strong {
                color            : var(--success);
                background-color : rgba(var(--success-rgb), 0.2);
            }
        }
    }
}